{% extends 'SVEX_APP/navbar/layout.html' %}
{% block content %}
<div data-v-3548214f="" class="">
    <div data-v-3548214f="" class="page-header" style="display: none;"><h1
            data-v-3548214f=""></h1></div>
    <div data-v-1d4adefb="" data-v-3548214f="" class="top row">
        <div data-v-1d4adefb="" data-v-3548214f="" class="container">
            <h1 data-v-1d4adefb="" data-v-3548214f="" style="margin: 45px 0px;">
            Buy Crypto
            </h1>
        </div>
    </div>
    <div data-v-1d4adefb="" data-v-3548214f="" class="container" style="margin: 40px auto;">
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper" style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12" style="margin: 10px 0px;">
                <img data-v-1d4adefb="" data-v-3548214f="" src="/static/images/trading/moonpay.jpg" style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> MoonPay offers a fast and simple way to buy and sell
                cryptocurrencies. Buy crypto with credit card, bank transfers or Apple Pay
                today.
            </div>
        <a href="https://www.moonpay.com/" target="_blank" data-v-1d4adefb="" data-v-3548214f=""
           class="col-lg-3 col-xs-12 col-md-12 buy-btn" style="float: right; display: block; margin: 10px 0px; text-align: center;">
            Go to MoonPay</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper" style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12" style="margin: 10px 0px;">
                <img data-v-1d4adefb="" data-v-3548214f="" src="/static/images/trading/transak.jpg" style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> Transak is a leading Web3 onboarding infrastructure
                provider. Its API-driven solutions enable web3 platforms to onboard users to
                130+ crypto assets from 150+ countries, abstracting away the complexity of user
                KYC, risk monitoring &amp; compliance, payment methods and customer support.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://transak.com/" target="_blank"
               class="col-lg-3 col-xs-12 col-md-12 buy-btn" style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Transak</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"><img data-v-1d4adefb="" data-v-3548214f=""
                                                src="/static/images/trading/simplex.jpg"
                                                style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> Simplex by Nuvei is empowering the crypto industry
                with a full fiat infrastructure. We process crypto-to-credit card payments with
                a 100% guarantee – in case of a fraud chargeback, the merchant gets paid by us.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.simplex.com/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Simplex</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"><img data-v-1d4adefb="" data-v-3548214f=""
                                                src="/static/images/trading/mercuryo.jpg"
                                                style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> A custodial wallet with built-in crypto on-ramp
                functionality. Designed to manage your crypto just like you do with fiat: buy,
                sell, hold, and spend a wide range of coins.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.mercuryo.io/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Mercuryo</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"><img data-v-1d4adefb="" data-v-3548214f=""
                                                src="/static/images/trading/coingate.jpg"
                                                style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> CoinGate is a Lithuanian-based fintech company
                founded in 2014. The payment gateway offers cryptocurrency payment processing
                services for businesses of any sizes.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.coingate.com/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to CoinGate</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"><img data-v-1d4adefb="" data-v-3548214f=""
                                                src="/static/images/trading/banxa.jpg"
                                                style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> Banxa is the leading global Web3 on and off-ramp
                solution Crypto Buy. Our mission is to accelerate the world to Web3 and beyond.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.banxa.com/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Banxa</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"><img data-v-1d4adefb="" data-v-3548214f=""
                                                src="/static/images/trading/bitpay.jpg"
                                                style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> Buy crypto with a credit card, debit card, Apple Pay
                or Google Pay. Delivered quickly to any wallet, no hidden fees or third-party
                custody. Buy online or in the BitPay app.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.bitpay.com/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Bitpay</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;">
                <img data-v-1d4adefb="" data-v-3548214f="" src="/static/images/trading/changelly.jpg" style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> Changelly is an ecosystem of products that allows
                you to exchange, buy, trade, and sell cryptocurrencies and also earn free crypto
                with our affiliate program.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.changelly.com/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Changelly</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"><img data-v-1d4adefb="" data-v-3548214f=""
                                                src="/static/images/trading/phemex.jpg"
                                                style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> Phemex operates as a crypto derivatives trading
                platform. Phemex is a professional and trustworthy global cryptocurrency
                derivatives exchange. We offer Bitcoin, Ethereum, Ripple, and Chainlink
                perpetual contracts, with up to 100x leverage.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.phemex.com/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Phemex</a>
        </div>
        <div data-v-1d4adefb="" data-v-3548214f="" class="wrapper"
             style="border-radius: 10px; display: inline-block; flex-direction: inherit; margin-bottom: 20px;">
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-2 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"><img data-v-1d4adefb="" data-v-3548214f=""
                                                src="/static/images/trading/ramp.jpg"
                                                style="border-radius: 5px; width: 150px; height: 60px;">
            </div>
            <div data-v-1d4adefb="" data-v-3548214f="" class="col-lg-7 col-xs-12 col-md-12"
                 style="margin: 10px 0px;"> Ramp is a global financial technology company
                building solutions that connect the crypto economy with today’s financial
                infrastructure.
            </div>
            <a data-v-1d4adefb="" data-v-3548214f="" href="https://www.ramp.network/" target="_blank"
                  class="col-lg-3 col-xs-12 col-md-12 buy-btn"
                  style="float: right; display: block; margin: 10px 0px; text-align: center;">Go to Ramp</a>
        </div>
    </div>
</div>
</div>
</main>
{% endblock %}
