{% extends 'SVEX_APP/navbar/layout.html' %}
{% block content %}
<div data-v-3548214f="" class="" style="">
    <div data-v-3548214f="" class="page-header" style="display: none;"><h1
            data-v-3548214f=""></h1></div>
    <div data-v-60993a34="" data-v-3548214f="" class="top row" style="height: 30%">
        <div data-v-60993a34="" data-v-3548214f="" class="container">
            <h1 data-v-60993a34="" data-v-3548214f="" style="margin-bottom: 30px;">Markets</h1>
            <div data-v-60993a34="" data-v-3548214f="" class="losers">
                <div data-v-60993a34="" data-v-3548214f="" class="col-lg-3 col-md-4 col-xs-12" style="height: 12%;">
                    <div data-v-60993a34="" data-v-3548214f="" class="category">Highlight Coin</div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34="" style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/XRP.png" alt="" style="width: 100%;"></div>
                                XRP
                            </div>
                            <div data-v-60993a34="" class="value"> 0.5124</div>
                            <div data-v-60993a34="" class="percent minus">-2.064%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34="" style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/LINK.png" alt=""
                                         style="width: 100%;"></div>
                                LINK
                            </div>
                            <div data-v-60993a34="" class="value"> 15.569</div>
                            <div data-v-60993a34="" class="percent minus">-0.492%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/BNB.png" alt=""
                                         style="width: 100%;"></div>
                                BNB
                            </div>
                            <div data-v-60993a34="" class="value"> 305.1</div>
                            <div data-v-60993a34="" class="percent minus">-1.739%</div>
                        </div>
                    </div>
                </div>
                <div data-v-60993a34="" data-v-3548214f="" class="col-lg-3 col-md-4 col-xs-12" style="height: 12%;">
                    <div data-v-60993a34="" data-v-3548214f="" class="category">Top Gainer
                        Coin
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/RUNE.png" alt=""
                                         style="width: 100%;"></div>
                                RUNE
                            </div>
                            <div data-v-60993a34="" class="value"> 4.906</div>
                            <div data-v-60993a34="" class="percent plus">+3.941%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/XMR.png" alt=""
                                         style="width: 100%;"></div>
                                XMR
                            </div>
                            <div data-v-60993a34="" class="value"> 165.8</div>
                            <div data-v-60993a34="" class="percent plus">+2.283%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/BTC.png" alt=""
                                         style="width: 100%;"></div>
                                BTC
                            </div>
                            <div data-v-60993a34="" class="value"> 43630.34</div>
                            <div data-v-60993a34="" class="percent plus">+0.468%</div>
                        </div>
                    </div>
                </div>
                <div data-v-60993a34="" data-v-3548214f="" class="col-lg-3 col-md-4 col-xs-12" style="height: 12%;">
                    <div data-v-60993a34="" data-v-3548214f="" class="category">Top Loser Coin
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/NEAR.png" alt=""
                                         style="width: 100%;"></div>
                                NEAR
                            </div>
                            <div data-v-60993a34="" class="value"> 2.962</div>
                            <div data-v-60993a34="" class="percent minus">-7.147%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/AXS.png" alt=""
                                         style="width: 100%;"></div>
                                AXS
                            </div>
                            <div data-v-60993a34="" class="value"> 7.09</div>
                            <div data-v-60993a34="" class="percent minus">-6.341%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/FTM.png" alt=""
                                         style="width: 100%;"></div>
                                FTM
                            </div>
                            <div data-v-60993a34="" class="value"> 0.3665</div>
                            <div data-v-60993a34="" class="percent minus">-6.05%</div>
                        </div>
                    </div>
                </div>
                <div data-v-60993a34="" data-v-3548214f="" class="col-lg-3 col-md-4 col-xs-12" style="height: 12%;">
                    <div data-v-60993a34="" data-v-3548214f="" class="category">Top Volume
                        Coin
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/BTC.png" alt=""
                                         style="width: 100%;"></div>
                                BTC
                            </div>
                            <div data-v-60993a34="" class="value"> 43630.34</div>
                            <div data-v-60993a34="" class="percent plus">+0.468%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/ETH.png" alt=""
                                         style="width: 100%;"></div>
                                ETH
                            </div>
                            <div data-v-60993a34="" class="value"> 2341.95</div>
                            <div data-v-60993a34="" class="percent minus">-1.239%</div>
                        </div>
                    </div>
                    <div data-v-60993a34="" class="coin" data-v-3548214f="">
                        <div data-v-60993a34="" class="data">
                            <div data-v-60993a34="" class="title">
                                <div data-v-60993a34=""
                                     style="border-radius: 100%; width: 24px; height: 24px; margin-right: 8px;">
                                    <img data-v-60993a34="" src="/static/images/home-page/SOL.png" alt=""
                                         style="width: 100%;"></div>
                                SOL
                            </div>
                            <div data-v-60993a34="" class="value"> 102.25</div>
                            <div data-v-60993a34="" class="percent minus">-2.832%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-v-60993a34="" data-v-3548214f="" class="container" style="margin-top: 50px;">
        <div data-v-60993a34="" data-v-3548214f="" class="markets">
            <div data-v-60993a34="" data-v-3548214f="" class="header-view">
                <div data-v-60993a34="" data-v-3548214f="" class="coins">
                    <span id="BTC" data-v-60993a34="" data-v-3548214f="" class="current" onclick="toggleCoin('BTC')">BTC</span>
                    <span id="ETH" data-v-60993a34="" data-v-3548214f="" class="" onclick="toggleCoin('ETH')">ETH</span>
                    <span id="USDT" data-v-60993a34="" data-v-3548214f="" class="" onclick="toggleCoin('USDT')">USDT</span>
                </div>
                <div data-v-60993a34="" data-v-3548214f="" class="search" id="searchInput">
                    <svg data-v-60993a34="" data-v-3548214f=""
                         class="svg-inline--fa fa-search fa-w-16" aria-hidden="true"
                         focusable="false" data-prefix="fas" data-icon="search" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                         data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                    </svg>
                    <input data-v-60993a34="" data-v-3548214f="" placeholder="Search currency name" type="text">
                </div>
            </div>
            <div data-v-60993a34="" data-v-3548214f="" style="overflow-x: auto;">
                <div data-v-60993a34="" data-v-3548214f="" class="table">
                    <div data-v-60993a34="" data-v-3548214f="" class="head">
                        <div data-v-60993a34="" data-v-3548214f="" class="td">Pair</div>
                        <div data-v-60993a34="" data-v-3548214f="" class="td">Last Price</div>
                        <div data-v-60993a34="" data-v-3548214f="" class="td">Change 24H</div>
                        <div data-v-60993a34="" data-v-3548214f="" class="td">Low 24H</div>
                        <div data-v-60993a34="" data-v-3548214f="" class="td">High 24H</div>
                        <div data-v-60993a34="" data-v-3548214f="" class="td">Volume 24H</div>
                    </div>
                    <div id="BTCContent" class="coin-content" style="">
                      {% for btc in btc_data %}
                            <div data-v-60993a34="" class="tr" data-v-3548214f="">
                                <div data-v-60993a34="" class="td">
                                    <div data-v-60993a34=""
                                         style="width: 32px; height: 32px; margin-right: 5px; border-radius: 100%;">
                                        <img data-v-60993a34="" src="{{ btc.image }}" alt=""
                                             style="border-radius: 100%; width: 100%; height: 100%; vertical-align: unset;">
                                    </div>
                                    <div data-v-60993a34="" style="margin-right: 3px;">{{ btc.first }}</div>
                                    <span data-v-60993a34="" class="market">/ {{ btc.second }}</span></div>
                                <div data-v-60993a34="" class="td">{{ btc.last_price }}</div>
                                <div data-v-60993a34=""
                                     class="td {% if btc.change_24h > 0 %} plus {% else %} minus {% endif %}">
                                    {{ btc.change_24h }}%
                                </div>
                                <div data-v-60993a34="" class="td">{{ btc.low_24h }}</div>
                                <div data-v-60993a34="" class="td">{{ btc.high_24h }}</div>
                                <div data-v-60993a34="" class="td">{{ btc.volume_s4h }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--           ETHERIUM         -->
                    <div id="ETHContent"  class="coin-content" style="display: none;">
                        {% for eth in eth_data %}
                            <div data-v-60993a34="" class="tr" data-v-3548214f="">
                                <div data-v-60993a34="" class="td">
                                    <div data-v-60993a34=""
                                         style="width: 32px; height: 32px; margin-right: 5px; border-radius: 100%;">
                                        <img data-v-60993a34="" src="{{ eth.image }}" alt=""
                                             style="border-radius: 100%; width: 100%; height: 100%; vertical-align: unset;">
                                    </div>
                                    <div data-v-60993a34="" style="margin-right: 3px;">{{ eth.first }}</div>
                                    <span data-v-60993a34="" class="market">/ {{ eth.second }}</span></div>
                                <div data-v-60993a34="" class="td">{{ eth.last_price }}</div>
                                <div data-v-60993a34=""
                                     class="td {% if eth.change_24h > 0 %} plus {% else %} minus {% endif %}">
                                    {{ eth.change_24h }}%
                                </div>
                              <div data-v-60993a34="" class="td">{{ eth.low_24h }}</div>
                                <div data-v-60993a34="" class="td">{{ eth.high_24h }}</div>
                                <div data-v-60993a34="" class="td">{{ eth.volume_s4h }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--         USD           -->
                    <div id="USDTContent" class="coin-content" style="display: none;">
                        {% for usd in usdt_data %}
                            <div data-v-60993a34="" class="tr" data-v-3548214f="">
                                <div data-v-60993a34="" class="td">
                                    <div data-v-60993a34=""
                                         style="width: 32px; height: 32px; margin-right: 5px; border-radius: 100%;">
                                        <img data-v-60993a34="" src="{{ usd.image }}" alt=""
                                             style="border-radius: 100%; width: 100%; height: 100%; vertical-align: unset;">
                                    </div>
                                    <div data-v-60993a34="" style="margin-right: 3px;">{{ usd.first }}</div>
                                    <span data-v-60993a34="" class="market">/ {{ usd.second }}</span></div>
                                <div data-v-60993a34="" class="td">{{ usd.last_price }}</div>
                                <div data-v-60993a34=""
                                     class="td {% if usd.change_24h > 0 %} plus {% else %} minus {% endif %}">
                                    {{ usd.change_24h }}%
                                </div>
                                <div data-v-60993a34="" class="td">{{ usd.low_24h }}</div>
                                <div data-v-60993a34="" class="td">{{ usd.high_24h }}</div>
                                <div data-v-60993a34="" class="td">{{ usd.volume_s4h }}</div>
                            </div>
                        {% endfor %}
                    <!--         USD           -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function toggleCoin(coin) {
        // Remove 'current' class from all coins
        $('.coins span').removeClass('current');

        // Add 'current' class to the selected coin
        $('#' + coin).addClass('current');

        // Hide all coin divs
        $('.coin-content').hide();

        // Show the selected coin div
        $('#' + coin + 'Content').show();
    }

    $(document).ready(function() {
        $('.coins span').on('click', function () {
            var coin = $(this).text();
            toggleCoin(coin);
        });

        // Function to fetch market coins data
        function fetchMarketCoins(queryParam) {
            $.ajax({
                url: '/fetch-market-coins', // Replace this with your actual endpoint URL
                method: 'GET',
                data: {
                    q: queryParam
                },
                success: function(data) {
                    const btc_coins = data.btc_data;
                    const eth_coins = data.eth_data;
                    const usdt_coins = data.usdt_data;

                    $('#BTCContent').empty();
                    $('#ETHContent').empty();
                    $('#USDTContent').empty();

                    btc_coins.forEach(function(coin) {
                        // Generate HTML for each coin
                        const coinHtml = '<div data-v-60993a34="" class="tr" data-v-3548214f="">' +
                            '<div data-v-60993a34="" class="td">' +
                            '<div data-v-60993a34="" style="width: 32px; height: 32px; margin-right: 5px; border-radius: 100%;">' +
                            '<img data-v-60993a34="" src="' + coin.image + '" alt=""' +
                            'style="border-radius: 100%; width: 100%; height: 100%; vertical-align: unset;">' +
                            '</div>' +
                            '<div data-v-60993a34="" style="margin-right: 3px;">' + coin.first + '</div>' +
                            '<span data-v-60993a34="" class="market">/ ' + coin.second + '</span>' +
                            '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.last_price + '</div>' +
                            '<div data-v-60993a34="" class="td ' + (coin.change_24h > 0 ? 'plus' : 'minus') + '">' + coin.change_24h + '%</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.low_24h + '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.high_24h + '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.volume_s4h + '</div>' +
                            '</div>';

                        $('#BTCContent').append(coinHtml);
                    });

                    eth_coins.forEach(function(coin) {
                      const coinHtml = '<div data-v-60993a34="" class="tr" data-v-3548214f="">' +
                            '<div data-v-60993a34="" class="td">' +
                            '<div data-v-60993a34="" style="width: 32px; height: 32px; margin-right: 5px; border-radius: 100%;">' +
                            '<img data-v-60993a34="" src="' + coin.image + '" alt=""' +
                            'style="border-radius: 100%; width: 100%; height: 100%; vertical-align: unset;">' +
                            '</div>' +
                            '<div data-v-60993a34="" style="margin-right: 3px;">' + coin.first + '</div>' +
                            '<span data-v-60993a34="" class="market">/ ' + coin.second + '</span>' +
                            '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.last_price + '</div>' +
                            '<div data-v-60993a34="" class="td ' + (coin.change_24h > 0 ? 'plus' : 'minus') + '">' + coin.change_24h + '%</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.low_24h + '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.high_24h + '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.volume_s4h + '</div>' +
                            '</div>';

                        $('#ETHContent').append(coinHtml);
                    });

                    usdt_coins.forEach(function(coin) {
                       const coinHtml = '<div data-v-60993a34="" class="tr" data-v-3548214f="">' +
                            '<div data-v-60993a34="" class="td">' +
                            '<div data-v-60993a34="" style="width: 32px; height: 32px; margin-right: 5px; border-radius: 100%;">' +
                            '<img data-v-60993a34="" src="' + coin.image + '" alt=""' +
                            'style="border-radius: 100%; width: 100%; height: 100%; vertical-align: unset;">' +
                            '</div>' +
                            '<div data-v-60993a34="" style="margin-right: 3px;">' + coin.first + '</div>' +
                            '<span data-v-60993a34="" class="market">/ ' + coin.second + '</span>' +
                            '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.last_price + '</div>' +
                            '<div data-v-60993a34="" class="td ' + (coin.change_24h > 0 ? 'plus' : 'minus') + '">' + coin.change_24h + '%</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.low_24h + '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.high_24h + '</div>' +
                            '<div data-v-60993a34="" class="td">' + coin.volume_s4h + '</div>' +
                            '</div>';

                        $('#USDTContent').append(coinHtml);
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching market coins:', error);
                }
            });
        }

        // Fetch market coins data initially
        fetchMarketCoins('');
        $('#searchInput').on('input', function () {
            fetchMarketCoins($('#searchInput input').val());
        });

        // Set interval to fetch market coins data every 30 seconds
        setInterval(fetchMarketCoins, 30000);
    });
</script>

{% endblock %}
