<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Profile</title>
</head>
<body>
    <h1>Client Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ client.first_name }}</p>
    <p>Last Name: {{ client.last_name }}</p>
    <p>Birthdate: {{ client.birthdate }}</p>
    <p>Client Credits: {{ client.client_credits }}</p>
    <p>Phone: {{ client.phone }}</p>
    <p>Address: {{ client.address }}</p>
    <p>Zip Code: {{ client.zip_code }}</p>
</body>
</html>

