{% extends 'SVEX_APP/auth/layout.html' %}
{% block content %}
<main data-v-795abfa2="" class="main">
    <div data-v-43d0cf3a="" data-v-795abfa2="" class="Auth">
        <div data-v-43d0cf3a="">
            <div data-v-43d0cf3a="" class="header"><p data-v-43d0cf3a="" class="title">Reset Password</p></div>
            <form data-v-43d0cf3a="" action="/password-reset/" method="POST">
                {% csrf_token %}
                <div data-v-72d3b7be="" data-v-43d0cf3a="" class="Input">
                    <label data-v-72d3b7be="" for="email">Email</label>
                    <input data-v-72d3b7be="" type="email" id="email">
                </div>
                <div data-v-43d0cf3a="" style="margin-bottom: 20px;">
                    <button data-v-31aba6a9="" data-v-43d0cf3a=""
                            class="Button default" style="width: 100%;"> Reset Password
                        <svg data-v-31aba6a9="" viewBox="0 0 50 50" class="spinner"
                             style="display: none;">
                            <circle data-v-31aba6a9="" cx="25" cy="25" r="20" fill="none"
                                    stroke-width="5" class="path">

                            </circle>
                        </svg>
                    </button>
                </div>
                <div data-v-43d0cf3a="" class="links">
                    <a data-v-43d0cf3a="" href="/login-new" class="" style="color: rgb(42, 133, 255);">Sign In</a>
                    <a data-v-43d0cf3a="" href="/register-new" class="" style="color: rgb(42, 133, 255);">Create a free
                        account</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
